body {
    font-family: Arial, Helvetica, sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2C698D;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2C698D;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mobile {
    background-color: rgb(242, 245, 247);
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    text-align: center;
}

.button {
    background: #272643;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.button:hover {
    cursor: pointer;
}

.btnText {
    font-size: 15px;
    color: #FFFFFF;
}

.finProd {
    background-color: #2C698D;
    color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    margin-bottom: 10px;
}

.label {
    text-align: center;
    width: 315px;
    height: 84px;
    left: 30px;
    top: 270px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.0035em;
    color: #000000;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px 0px 30px 0px;
}

.left {
    align-content: left;
}

select {
    padding: 3px;
}